@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
  font-family: 'Cairo', sans-serif;
  margin: 0px;
  padding: 0px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  text-align: center;
  align-items: center;
  background-color: #2D3748;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

#name {
  padding-left: 20px;
}

#container {
  display: flex;
}

#headers {
  display: flex;
}

#headers>h2 {
  padding-right: 20px;
}

.link {
  text-decoration: none;
  color: white;
}

#img {
  height: 40px;
  padding-right: 20px;
  display: none;
}


@media screen and (max-width: 900px) {
  #img {
    display: block;
    width: 40px;
  }

  #navbar>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 5px;
  }

  #headers,
  #navbar {
    flex-direction: column;
  }

  #headers {
    height: 0px;
    opacity: 0;
    transition: all 0.5s;
  }

  #headers.active {
    height: 300px;
    opacity: 1;
  }
}

#home {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/23298a55526729.5988857400116.jpg);
  min-width: 100%;
  background-size: cover;
  background-position: center;
}

#typewriter {
  font-size: 25px;
  height: 50px;
}

#homeContainer {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  padding-top: 10vh;
  padding-bottom: 24.2vh;
}

#homeContainer>div>img {
  border-radius: 50%;
}

#homeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

@media screen and (max-width: 900px) {
  #homeContainer {
    flex-direction: column;
  }

  #homeContainer>div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #homeText {
    margin-top: 5vh;
  }
}

.projectText {
  text-align: center;
}

.p1 {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 8vh;
}

.p1>div>img {
  width: 100%;
}

.p1>div:nth-child(1) {
  width: 55%;
}

.p1>div:nth-child(2) {
  width: 40%;
  margin-top: 5vh;
}

.projectUl {
  font-size: 24px;
  line-height: 30px;
  margin-top: 10px;
}

.p1Btn {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 40px;
  padding-top: 10vh;
}

.p1Btn>button {
  width: 150px;
  font-size: large;
  border-radius: 10px 10px 10px 10px;
  border: none;
  background-color: orange;
}

.p1Btn>button>a {
  text-decoration: none;
  color: white;
}

.techStack {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  margin-top: 20px;
}

.techStack>img {
  width: 50px;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 1200px) {

  .p1 {
    flex-direction: column;
  }

  .p1>div:nth-child(1) {
    width: 100%;
  }

  .p1>div:nth-child(2) {
    width: 100%;
  }

  .techStack {
    margin: auto;
    margin-top: 5vh;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .p1Btn{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .projectUl{
    font-size: medium;
  }

  .p1>div>img{
    height: 300px;
  }

}

#project{
  margin-bottom: 10vh;
}

#about{
  background-image: url(https://getwallpapers.com/wallpaper/full/b/8/1/489068.jpg);
  height: 74vh;
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 15vh;
}

#about>div>h1{
  text-align: center;
}


#about>div{
  padding-top: 8vh;
  width: 70%;
  margin: auto;
  text-align: justify;
}

#about>div{
  background-color: rgba(0, 128, 128, 0.635);
  border-radius: 10px 10px 10px 10px ;
  padding: 30px;
  backdrop-filter: blur(3px);

}

@media screen and (max-width: 900px) {

  #about>div>h1{
    font-size: 24px;
  }

  #about>div>div>h2{
    font-size: 18px;
  }

  #about{
    padding-bottom: 10vh;
  }
}

#skills{
  text-align: center;
}

#skills>div{
  display: flex;
  justify-content: center;
  align-items: center;
}
