@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');


* {
  font-family: 'Cairo', sans-serif;
  margin: 0px;
  padding: 0px;
}

#navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: transparent;
  color: black;
  position: fixed;
  top: 0px;
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.029) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.024) 0px 32px 16px;
}

.icons {
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding-right: 15px;
}

#name {
  font-size: 50px;
  letter-spacing: 3px;
  font-family: 'Ephesis', cursive;
  color: #cd5ff8;
  padding-left: 8vw;
}

.name1 {
  color: #cd5ff8;
  text-decoration: none;
}

#container {
  display: flex;
}

#headers {
  display: flex;
  padding-right: 5vw;
}

#headers>h2 {
  padding-right: 20px;
}

.link {
  text-decoration: none;
  color: #ffffd4;
}

#img {
  height: 40px;
  padding-right: 20px;
  display: none;
}


@media screen and (max-width: 1050px) {

  #name {
    letter-spacing: 0px;
    font-size: 35px;
  }

  #img {
    display: block;
    width: 28px;
  }

  #navbar>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 5px;
  }

  #headers,
  #navbar {
    flex-direction: column;
    font-size: small;
  }

  #headers {
    height: 0px;
    opacity: 0;
    transition: all 0.5s;
  }

  #headers.active {
    height: 300px;
    opacity: 1;
  }
}

#home {
  padding-top: 10vh;
  background-image: url(https://www.teahub.io/photos/full/212-2124160_4uv0t9-blue-polygon-wallpaper-4k.jpg);
  min-width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#typewriter {
  font-size: 25px;
  height: 50px;
}

#homeContainer {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  padding-top: 10vh;
  padding-bottom: 24.2vh;
}

#homeContainer>div>img {
  border-radius: 50%;
}

#homeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

@media screen and (max-width: 900px) {
  #homeContainer {
    flex-direction: column;
  }

  #homeContainer>div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #homeText {
    margin-top: 5vh;
  }

  #homeContainer>div>img {
    width: 300px;
  }
}

.projectText {
  text-align: center;
}

.p1 {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 8vh;
  backdrop-filter: blur(10px);
  background-color: rgba(8, 8, 6, 0.498);
}

.p1>div>img {
  width: 100%;
}

.p1>div:nth-child(1) {
  width: 55%;
}

.p1>div:nth-child(2) {
  width: 40%;
  margin-top: 5vh;
}

.projectUl {
  font-size: 24px;
  line-height: 30px;
  margin-top: 10px;
}

.p1Btn {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 40px;
  padding-top: 10vh;
}

.p1Btn>button {
  width: 150px;
  font-size: large;
  border-radius: 10px 10px 10px 10px;
  border: none;
  background-color: orange;
}

.p1Btn>button>a {
  text-decoration: none;
  color: white;
}

.techStack {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 20px;
}

.techStack>img {
  width: 50px;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(128, 128, 128, 0.282);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 1200px) {

  .p1 {
    flex-direction: column;
  }

  .p1>div:nth-child(1) {
    width: 100%;
  }

  .p1>div:nth-child(2) {
    width: 100%;
  }

  .techStack {
    margin: auto;
    margin-top: 5vh;
    grid-template-columns: repeat(3, 1fr);
  }

  .p1Btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projectUl {
    font-size: medium;
  }

  .p1>div>img {
    height: 300px;
  }

}

#project {
  background-image: url(https://www.teahub.io/photos/full/212-2124160_4uv0t9-blue-polygon-wallpaper-4k.jpg);
  min-width: 100%;
  background-size: cover;
  background-position: center;
  padding-top: 5vh;
  padding-bottom: 20vh;
  color: white;
}

#about {
  background-image: url(https://getwallpapers.com/wallpaper/full/b/8/1/489068.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about>div>h1 {
  text-align: center;
}


#about>div {
  padding-top: 8vh;
  width: 70%;
  margin: auto;
  text-align: justify;

}

#about>div {
  background-color: rgba(18, 29, 29, 0.756);
  border-radius: 10px 10px 10px 10px;
  padding: 30px;
  backdrop-filter: blur(3px);

}

@media screen and (max-width: 900px) {

  #about>div>h1 {
    font-size: 24px;
  }

  #about>div>div>h2 {
    font-size: 18px;
  }

  #about {
    padding-bottom: 10vh;
  }
}

#skills {
  text-align: center;
  background-image: url(https://wallpapertag.com/wallpaper/full/1/2/0/395160-most-popular-polygon-background-3840x2160-for-macbook.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 5vh;
}

.haba{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  width: 50%;
  gap: 20px;
  margin: auto;
}

.haba>div>img{
  width: 80px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.797);
  border-radius:10px 10px 10px 10px ;
}

.skillDes{
  margin-top: 7vh;
  margin-bottom: 5vh;
}

@media screen and (max-width: 900px) {

  .haba{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }
  .haba>img{
    width: 50px;
  }

}