@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
  font-family: 'Cairo', sans-serif;
  margin: 0px;
  padding: 0px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  text-align: center;
  align-items: center;
  background-color: #2D3748;
  color: white;
  position: sticky;
  top: 0px;
}

#name {
  padding-left: 20px;
}

#container {
  display: flex;
}

#headers {
  display: flex;
}

#headers>h2 {
  padding-right: 20px;
}

.link {
  text-decoration: none;
  color: white;
}

#img {
  height: 40px;
  padding-right: 20px;
  display: none;
}


@media screen and (max-width: 900px) {
  #img {
    display: block;
    width: 40px;
  }

  #navbar>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 5px;
  }

  #headers,
  #navbar {
    flex-direction: column;
  }

  #headers {
    height: 0px;
    opacity: 0;
    transition: all 0.5s;
  }

  #headers.active {
    height: 300px;
    opacity: 1;
  }
}

#home{
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/23298a55526729.5988857400116.jpg);
  min-width: 100%;
  background-size: cover;
  background-position: center;
}

#typewriter{
  font-size: 25px;
  height: 50px;
}

#homeContainer {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  padding-top: 10vh;
  padding-bottom: 24.2vh;
}

#homeContainer>div>img {
  border-radius: 50%;
}

#homeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

@media screen and (max-width: 900px) {
  #homeContainer {
    flex-direction: column;
  }
  #homeContainer > div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #homeText{
    margin-top: 5vh;
  }
}

.projectText{
  text-align: center;
}

#p1{
  display: flex;
  width: 80%;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 8vh;
}
#p1>div>img{
  width:100%;
}
#p1>div:nth-child(1){
  width: 55%;
}
#p1>div:nth-child(2){
  width: 40%;
}

.projectUl{
  font-size: 24px;
  line-height: 30px;
}

#p1Btn{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 40px;
  padding-top: 10vh;
}

#p1Btn>button{
  width: 150px;
  font-size: large;
}
#p1Btn>button>a{
  text-decoration: none;
}

@media screen and (max-width: 1200px) {

  #p1{
    flex-direction: column;
  }
  #p1>div:nth-child(1){
    width: 100%;
    border: 1px solid red;
  }
  #p1>div:nth-child(2){
    width: 100%;
    border: 1px solid red;
  }

}
